body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 2s ease-in;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  max-width: 100%;
  height: auto;
}

.hero-section {
  position: relative;
  width: 100%;
 height: 100vh;
  background-image: url('/public/Images/Godfather.jpg'); 
  background-size: cover;
  background-position: center center;
  background-repeat:no-repeat;
  margin-bottom: 5%;

}

#featured{
  text-align: center;
  margin-bottom: 3%;

}

/* Footer Styles */
.footer-container {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.social-media-icons {
  margin-bottom: 20px;
}

.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.copyright {
  font-size: 12px;
}



.hero-details {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  width: 25%;
}

.hero-details h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-details p {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
}

.hero-details a {
  color: white;
  text-decoration: none;
}

.watch-trailer-button {
  display: inline-block;
  background-color: rgb(225,10,50); 
  color: white;
  font-size:1.1rem;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  width: 20%;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  top: 80%;
  left: 5%; /* Adjust left positioning as needed */
  transform: translateY(-50%);
  border: 1px ;
  border-radius: 4%;
}



.search-modal {
  background: white;
  max-height: 200px; 
  width:73%;
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc;
}

.search-results {
  color: black;
}

.search-link{
  text-decoration:none;
  color:#000;
  padding-left:1px;
 
}

.search-input {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 5px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgb(225,10,50);
  border-radius:2%;
}

.search-input input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  color:white;
  background-color: transparent;
}

.searchicon{
  color:white;
  padding:5px;
}


.search-bar {
  position: absolute;
  top: 15px;
  left: 60%;
  right: 0%;
  transform: translateX(-50%);
  border: 0px; 

}


/* Style the container for featured movies */
.featured-movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Five movies per row */
  justify-content: center; /* Center the grid horizontally */
  margin-left: 2%;
  margin-right: 2%;
  transition: transform 0.2s ease;
}

/* Adjust the styling for individual movie cards as needed */
.movie-card {
  text-align:center;
  width: 98%; 
  transition: transform 0.2s ease; /* Smooth zoom transition */
  line-height: 0.3rem;
  padding-bottom: 10%;
  
}

.movie-card :hover {
  transition: all 0.3s ease-in;
  transform: scale(1.02); 
}
/* Target only the movie titles within .movie-card */
.movie-card h2 {
  font-size: 16px; /* Adjust the font size to your preference */
}

/******************************************************* MovieDetails container**************************************************/
.movie-details-container {
  display: flex;
  transition: opacity 0.3s ease-in-out;
  opacity: 5;
 
}

/* Sidebar styles */
.sidebar {
  position: static;
  width: 226px;
  height: 982px;
  flex-shrink: 0;
  border-radius: 0px 45px 45px 0px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;

  
}

.sidebar a {
  /* Basic link styles */
  text-decoration: none;
  color: #333;
  margin: 20px 0; /* Space the links neatly from each other */

  /* Center the text within the link */
  display: flex;
  align-items: center;
}


/* Logo styles */

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 100px; 
}


.homelogo {
  position: absolute;
  top: 10px;
  left: -10px;
  max-width: 100px;
  margin-top: 0px;
  margin-left: 5%;
  display:flex;
  align-items:center;
  padding-top:10px;
  gap:10px;

}

.homelogotitle{
  color: #fff;
  font-family: monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  }

.logocontainer{
  margin-top: 10px;
  display:flex;
  align-items:center;
  gap:15px;
}


.logotitle{
color: #333;
font-family: monospace;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 100% */
}

/* Navigation menu styles */
.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: first baseline; /* Adjusted to align items to the top */
  padding: 20px;
  margin-top: 70px;

  
}


.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.icon{
  display:flex;
  padding-right:10px;
}

.flex-menu{
  display:flex;
  flex-direction:row;
  gap:5px;
  padding:5px 20px;
  
}

li:hover a {
  transform: scale(1.05); 
  color: #BE123C;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
 
}

.flex-menu:hover{
  background: rgba(190, 18, 60, 0.10);
  padding:5px 20px;
  border-right:5px solid #BE123C;
  width:98%;
}
.sidebarbox{
width: 170px;
height: 210px;
border-radius: 20px;
border: 1px solid rgba(190, 18, 60, 0.70);
background: rgba(248, 231, 235, 0.40);
margin-bottom:100%;
padding:10px;
font-family:monospace;
display:flex;
flex-direction:column;
align-items:center;
}

.sidebarbox button{
color: #BE123C;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 112px;
height: 30px;
border-radius: 30px;
background: rgba(190, 18, 60, 0.20);
border:none;
cursor:pointer;
margin-top:10px;
}

.sidebarbox p{
  color: rgba(51, 51, 51, 0.80);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top:15%;
}

.sidebarbox span{
  color: #666;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* Logout button styles */
.logout button {
  background-color:#BE123C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: -60px; /* Adjust this value to control the vertical position */
  left: 60px; /* Adjust this value if needed */
}
.logout :hover{
  transform: scale(1.05); 

}

.logout-icon{
  display: none;

}



/* MovieDetails styles */
.movie-details {
  padding:1% 2%;
}

#trailer{
  width: 100vw;
  height: 70vh;
  border: 1px solid transparent;
  border-radius: 20px;
}


.movie-info h2 {
  font-size: 24px;
  margin-top: 20px;
}

.movie-info p {
  font-size: 16px;
  margin: 10px 0;
}

.overview {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
}

.details {
  margin-top: 20px;
}

.moviecast {
  display:flex;
  flex-direction:column;
  gap:20px;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top:5px;
}
.inline{
  display: flex;
  word-spacing: 2px;
  font-weight: bold;
}

.movie-card {
  position: relative;
}

.movie-poster-container {
  position: relative;
  padding: 0;
  margin: 0;
  word-spacing: 0%;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%;

}

.favorite-button {
  position: absolute;
  top: 10px; /* Adjust this value to position the button vertically */
  right: 30px; /* Adjust this value to position the button horizontally */
  background-color: #333;
  border-radius: 50%;
  width: 25px;
  height: 5%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.favorite-button.favorite {
  color: blue;
}
#extra-details{
  color:#BE123C;
}

.link-box {
  /* Styling for the box beneath the link */
  border-radius: 10%; /* Border radius */
  border: 5px solid transparent; /* Transparent border */
  height: 15px; /* Adjust height as needed */
  width: 100%; /* Full width of the sidebar */
  margin: 5px 0; /* Space between links and boxes */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .hero-section {
    height: 100vh;
    background-image: url('/public/Images/Godfathermobile.png'); 
    background-size: cover; /* Full height background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-input {
    display: flex;
    align-items: center;
    width: 120%;
    padding: 5px;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(225,10,50);
    border-radius:2%;
  }
  
  .search-input input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    color:white;
    background-color: transparent;
  }
  
  .searchicon{
    color:white;
    padding:2px;
  }

  .search-bar {
    position: absolute;
    top: 15px;
    left: 60%;
    right: 0%;
    transform: translateX(-50%);
    border: 0px; 
  
  }
  
  .hero-details {
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    width: 50%;
  }
  .featured-movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    margin: 0 5px;
  }

.movie-card{
  width: 100%;
  margin: 10px 0;
  padding:0;
}

  .movie-details {
    flex-direction: column;
  }

  .sidebar {
    flex-basis: 15%; 
    height:auto;
  }

  .sidebarbox{
    display:none;
  }
  .movie-content {
    flex-basis: 85%; /* Increase the movie content width */
  }

  /* Hide link texts and show only icons */
  .sidebar a{
    text-indent: -9999px;
    overflow: hidden;
    width: 20px;
    display: flex;
    align-items:flex-start;
  }

  .flex-menu:hover{
    background: rgba(190, 18, 60, 0.10);
    padding:5px 20px;
    border-right:5px solid #BE123C;;
    width:66%;
  }

  .logotitle, .homelogotitle{
    display:none;
  }

  .detail-logo{
    width: 50px;
    height: 50px;
  }

  .logout-button {
    display: none;
   
  }
  .logout-icon{
    display: block;
    margin-bottom: 10px;
  
  }
.icon{
  display: block;
}
.inline{
  width: 100%;
  font-size:0.5rem;
}

.watch-trailer-button {
 width: 35%;
 margin-top: 90px;

}
.detail-logo{
  width: 60%;
}

.hero-details{
  margin-top: 50px;
  
}
.hero-details h1 {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: rgb(225,29,72);
}

.hero-details p {
  font-size: 0.8rem;
 font-weight:semi-bold;
  margin: 5px 0;
  color:#c3c3c3;
}
#trailer{
  height: 50vh;
}

.watch-trailer-button {
  display: inline-block;
  background-color: rgb(225,10,50); 
  color: white;
  font-size:1.1rem;
  font-weight: lighter;
  padding: 10px 20px;
  border: none;
  width: 40%;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  top: 85%;
  left: 5%; /* Adjust left positioning as needed */
  transform: translateY(-50%);
  border-radius: 4%;
}

}

@media (min-width: 768px) and (max-width: 1155px) {
  .hero-section {
    position: relative;
    width: 100%;
   height: 100vh;
    background-image: url('/public/Images/Godfathertab.png'); 
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    margin-bottom: 5%;
  
  }

  .hero-details p {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
  }

  .hero-details {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    width: 45%;
  }

  .watch-trailer-button {
    display: inline-block;
    background-color: rgb(225,10,50); 
    color: white;
    font-size:1.1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    width: 20%;
    text-align: center;
    cursor: pointer;
    margin-top:10px;
    position: absolute;
    top: 80%;
    left: 5%; /* Adjust left positioning as needed */
    transform: translateY(-50%);
    border: 1px ;
    border-radius: 4%;
  }

  .logout button {
    background-color: #BE123C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: -100px; /* Adjust this value to control the vertical position */
    left: 60px; /* Adjust this value if needed */
  }
  
  
}

